<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  @Html.Partial("_Head")
</head>
<body>
  <header>
    @Html.Partial("_Header")
  </header>
  <div class="xtra">
    <div class="container" id="body">
    <!-- Begin MailChimp Signup Form -->
      <style type="text/css">
 
      </style>
<div id="mc_embed_signup">
<form style="display: inline-block;" action="http://softwaresingularity.us2.list-manage.com/subscribe/post?u=9c9f1781c7b92f21aa9aad04d&amp;id=e806b3483a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="bcvutton btn">
</form>
<span class="poweredWrapper" style="padding: 20px 0;margin: 0 auto;">
			<span class="poweredBy" style="display: inline-block; vertical-align: middle;"><a href="http://www.mailchimp.com/monkey-rewards/?aid=9c9f1781c7b92f21aa9aad04d&amp;afl=1" style="color: #336699;"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/089443193dd93823f3fed78b4/images/postmark_mailchimp_red.gif" border="0" alt="Email Marketing Powered by MailChimp" title="MailChimp Email Marketing"></a></span>
		</span>
    
</div>
<div class="reveal-tab">
    <span>{ - } </span>
  </div>
<!--End mc_embed_signup-->
      @RenderSection("featured", false)
      <div class="content">
        @RenderBody()
      </div>
    </div>
  </div>
  <footer>
    @Html.Partial("_Footer")
  </footer>
  @*@Html.Partial("_DevTabs")*@
  <div id="script-wrapper">
    @Html.Partial("_Scripts")
    @RenderSection("pageScripts", false)
  </div>
</body>
</html>
